# Import into Pandas from an ATLAS xAOD

This is a sample script that uses the ad-hoc analysis library to extract jet pt's from an ATLAS xAOD file.

Places where this is a fake demo right now:

1. The lambda expressions are ignored; rather the operations are hardcoded.

## Setup and Config

In [1]:
fname = r"file://G:/mc16_13TeV/AOD.16300985._000011.pool.root.1"

In [2]:
from clientlib.DataSets import EventDataSet

## Import the events into a Pandas array.

This requires docker installed. As this is a proof of principle, a lot of stuff is hardwired.

First thing we do is turn a dataset into an implicit stream of events.

In [3]:
f = EventDataSet(r"file://G:/mc16_13TeV/AOD.16300985._000011.pool.root.1")
events = f.AsATLASEvents()

Next, we will select a stream of jet pt's. Here, these are every jet pt from every event strung together in a continuous stream.

- ``events`` is a sequence of events, one event after the next.
- ``SelectMany`` take each event, grabs the jets, and returns a sequence of jets. The result of the ``SelectMany`` is now a sequence of all jets in the file, from all events.
- ``Select`` takes each jet and replaces with the jet's pt. Now the sequence is of floats, representing the pT.

In [4]:
jet_pts = events \
            .SelectMany("lambda e: e.AntiKt4EMTopoJets") \
            .Select("lambda j: j.pt()")

And finally turn it into a pandas data frame. Each row has a single jet pt.

At this point no execution happens - a "future" is now setup with the pandas dataframe.

In [5]:
training_df = jet_pts.AsPandasDF(columns=['JetPt'])

Finally, we turn it into something real. The following steps occur:

1. Some C++ code is written to access, read the xAOD jet's, create a ttree, and write it out.
1. A docker container with the ATLAS envrionment is started. The code and the data file location are mapped into it.
1. The code is compiled, and then run.
1. The output ROOT file is loaded with uproot and a DF is created.
1. All that temporary code and data is removed.

There is a fair amount of log file information that appears in the notebook engine window. At the moement that is not correctly redirected here - so you can see evidence of it running there.

In [6]:
%%time
df = training_df.value()

Wall time: 27.7 s

## The Dataframe

Now we can play with the dataframe as we wish.

In [7]:
df

              JetPt
0     257316.437500
1     253132.328125
2      47169.453125
3      39030.281250
4      30013.857422
5      26433.212891
6      25472.306641
7      25208.580078
8      24981.439453
9      24315.888672
10     23916.593750
11     23320.441406
12     21800.621094
13     21573.513672
14     21487.826172
15     21119.816406
16     19627.083984
17     19367.871094
18     19057.343750
19     18921.443359
20     18671.941406
21     18512.601562
22     18371.689453
23     18050.986328
24     17562.011719
25     16666.787109
26     16664.050781
27     16077.772461
28     15918.267578
29     15148.814453
...             ...
7504  206879.296875
7505   98575.500000
7506   92895.031250
7507   28773.121094
7508   27309.724609
7509   22600.972656
7510   22058.292969
7511   20634.605469
7512   20205.166016
7513   20184.306641
7514   17848.267578
7515   16989.423828
7516   16625.955078
7517   16588.375000
7518   15002.394531
7519  300787.000000
7520  292273.250000
7521  130949.914062
7522   94663.156250
7523   40401.363281
7524   38905.152344
7525   28372.669922
7526   26605.568359
7527   20305.220703
7528   19233.824219
7529   18126.669922
7530   16669.269531
7531   16570.724609
7532   16326.493164
7533   15347.476562

[7534 rows x 1 columns]